<%- include('../shared/views/partials/head', { title, user }) %>
<%- include('../shared/views/partials/flash') %>

<section class="card">
  <h1>Welcome</h1>
  <p>You are logged in as <strong><%= user.email %></strong>.</p>
</section>

<%- include('../shared/views/partials/foot') %>
